@define-color foreground #FFFFFF;
@define-color background #2980b9;
@define-color foreground-warning #000000;
@define-color background-warning orange;
@define-color background-critical red;

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @FOREGROUND;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: @foreground-warning;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px @foreground;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px @foreground;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: @foreground;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @background;
}

#battery {
    color: @foreground;
    background-color: @background;
}

#battery.charging, #battery.plugged {
    color: @foreground-warning;
    background: @background-warning;
}

@keyframes blink {
    to {
        color: @foreground-warning;
        background-color: @foreground;
    }
}

#battery.critical:not(.charging) {
    background-color: @background-critical;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @foreground-warning;
}

#cpu {
    background-color: @background;
}

#memory {
    background-color: @background;
}

#disk {
    /* BH: was background-color: #964B00; */
    background-color: @background;
}
/* BH: */
#disk.warning {
    color: @foreground-warning;
    background: @background-warning;
}
#disk.critical {
    background: @background-critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @background;
}

#network.disconnected {
    background-color: @background-critical;
}

#network.ethernet {
    color: @foreground-warning;
    background-color: @background-warning;
}

#pulseaudio {
    background-color: @background;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @background;
}

#temperature.critical {
    background-color: @background-critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: @background;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-vpn {
    background: @background;
}

#custom-btc {
    background: @background;
}

#custom-weather {
    background: @background;
}
    
#custom-apps_menu {
    background: @background;
}
    
